body {
    font-family: Georgia, serif;
    background-color: #FAF3E0;
    color: #404040;
    text-align: center;
}

h1 {
    color: #A4A400;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #50500ee0;
    font-weight: bold;
}

footer {
    margin-top: 20px;
    font-size: 12px;
}

pre{
    font-family: monospace;
    text-align: center;
}